{% extends "header.html" %}
  {% block body %}
  

<script type='text/javascript' >
var showsSelected = []

function toggleShow(showID)
{
	var showIsSelected = isShowSelected(showID);
	//document.getElementById("debug").innerHTML = showIsSelected;
	if(showIsSelected != -1)
	{
		showsSelected.splice(showIsSelected,1);	
		document.getElementById(showID).style.border = "none";	
	} else {
		showsSelected.push(showID);
		document.getElementById(showID).style.border= "3px solid #06F";
	}
}

function isShowSelected(showID)
{
	for(var i = 0; i < showsSelected.length; i++)
	{
		if(showsSelected[i] == showID)
		{
			return i;	
		}
	}
	return -1;
}

function addToWatchbox()
{
	var showString = '';
	for(var i=0; i < showsSelected.length; i++)
	{
		showString = showString + showsSelected[i] + "|";
	}
	//var newURL = "{{url_for('watch', friends="+friendString+")}}";
	var newURL = "/addShows/"+showString;
	
	//document.getElementById("debug").innerHTML = newURL;
	parent.location = newURL;	
}

</script>

<div id="debug"> </div>
  
 <!-- Header with non-functional search box --> 
<b style="font-size:36px"> Browse </b> 
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;   &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<input type="search" name="googlesearch" style="color:#000; -webkit-border-radius:10px;
    -moz-border-radius:15px;" value="Search Videos"/>
<img src="static/img/search.png" width="40px" height="40px" />
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;   &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<button class="watch" onclick="addToWatchbox()"> <b>Add to Watchbox!</b></button>

<br />
  
<!-- show videos -->
<table id="friendTable" border="0" cellspacing="20" cellpadding="20" class="browseTable"> <tbody>	<tr>
{% for show in shows %}
	{% if (loop.index-1) % 3 == 0 %}
    	</tr><tr>
    {%endif%}
  	<td><img width="150px" height="100px" src="{{show.show_pic}}" onclick="toggleShow(this.id)" id="{{show.show_id}}" class="showToWatch"/></td>
    <td> <b>{{show.show_name}}</b> <br /> <b>  {{show.show_season}} </b> <br /> {{show.show_description}} </td>
{% endfor %}
</tr> </tbody> </table>

{% endblock %}
