{% extends "header.html" %}
{% block body %}
      
<script type='text/javascript' >

function watchRandomShow()
{
       watchShow(1);
}

function watchShow(show_id)
{
	var url = document.location+"";
	url = url.split('/');
	var friendString = url[url.length-1];
	friendString = friendString + show_id;
	friendString = friendString + "|";
	//var newURL = "{{url_for('watch', friends="+friendString+")}}";
	var newURL = "/watch/"+friendString;
	
	//document.getElementById("debug").innerHTML = newURL;
	parent.location = newURL; 
}

</script>

<div>
<h2 style="text-align:center"> Watching with... </h2>
  <table class="centeredTable" border="0" cellspacing="100" cellpadding="100"> <tbody>	<tr>
{% for friend in friends %}
  	<td><img width="90px" height="90px" src="{{friend.friend_pic}}" id="{{friend.user_id}}" /></td>
{% endfor %}
</tr> </tbody> </table>
</div>

<div id='debug'></div>

<div>
<h2 style="text-align:center"> We Recommend ... </h2>
<table id="centeredTable" border="0" cellspacing="100" cellpadding="100" class="centeredTable"> <tbody>	<tr>
{% for video in videos %}
<td width="250px"><img width="250px" height="150px" src="../{{video.show_pic}}" onclick="watchShow(this.id)" id="{{video.show_id}}" class="showToWatch"/></td>
{% endfor %}
</tr><tr>
{% for video in videos %}
	<td width="250px" style="text-align:left"><b>{{video.show_name}}</b> <br /> {{video.show_season}} <br/> {{video.show_description}}</td>
{% endfor %}
</tr> </tbody> </table>
</div>

<div style="width: 100%; text-align: center; color:#FFF" >
<button class="watch" onclick="watchRandomShow()"> <b>Surprise Me!</b></button>
</div>

{% endblock %}