{% extends "header.html" %}
{% block body %}

      <br /> <br />
      
<script type='text/javascript' >


function watchShow(show_id)
{
	var url = document.location+"";
	url = url.split('/');
	var friendString = url[url.length-1];
	friendString = friendString + show_id;
	friendString = friendString + "|";
	//var newURL = "{{url_for('watch', friends="+friendString+")}}";
	var newURL = "/watch/"+friendString;
	
	document.getElementById("debug").innerHTML = newURL;
	parent.location = newURL; 
}

</script>

<h2> Watching with... </h2>
<div id="friendTable"></div>
  <table id="friendTable" border="0" cellspacing="100" cellpadding="100"> <tbody>	<tr>
{% for friend in friends %}
  	<td><img width="50px" height="50px" src="{{friend.friend_pic}}" id="{{friend.user_id}}" /></td>
{% endfor %}
</tr> </tbody> </table>
</div>

<div id='debug'></div>


<h2> We Recommend ... </h2>
<table id="friendTable" border="0" cellspacing="100" cellpadding="100" class="friendTable"> <tbody>	<tr>
{% for video in videos %}
<td><img width="250px" height="150px" src="../{{video.show_pic}}" onclick="watchShow(this.id)" id="{{video.show_id}}" /></td>
{% endfor %}
</tr><tr>
{% for video in videos %}
	<td><b>{{video.show_name}}</b> {{video.show_season}} <br/> {{video.show_description}}</td>
{% endfor %}
</tr> </tbody> </table>


{% endblock %}