{% extends "header.html" %}
{% block body %} 
  
<script type='text/javascript' >
var genres = [];

function addGenre(genre)
{
	var addedAlready = false;
	for(var i=0; i < genres.length; i++)
	{
		if(genres[i] == genre)
		{
			addedAlready = true;	
		}
	}
	// if not already added, add friend
	if(!addedAlready)
	{
		genres.push(genre);
	}
	// redraw grid
	//drawAddedGenres();
}

function removeGenre(genre)
{
	var spot;
	for(var i=0; i < genres.length; i++)
	{
		if(genres[i] == genre)
		{
			spot = i;	
		}
	}
	genres.splice(spot,1);	
	//drawAddedGenres();
}

function drawAddedGenres()
{
	var numRows = 1;
	if(genres.length > 0)
	{
		var genreTable = '<table id="friendTable2" border="0" cellspacing="100" cellpadding="100"> <tbody>	<tr>';
		
		for(var i=0; i < genres.length; i++)
		{
			genreTable = genreTable + '<td><button class="addedgenre" name="'+genres[i]+'" onclick="removeGenre(this.name)">'+genres[i]+' </button></td>';
			if((i+1)%6 == 0)
			{
				genreTable += '</tr><tr>';
				numRows++;	
			}
		}
		genreTable = genreTable + "</tr></tbody></table>";
		document.getElementById("addedGenresTable").innerHTML= genreTable;
		document.getElementById("addedGenresTable").style.height=50*numRows+'px';
	} else {
		var html = '<div style="width: 100%; text-align: center;  color:#FFF" >'+
					'<img src="static/img/frown.png" width="100px" height="100px" /> <br/>'+
					'You have not chosen any friends to watch anything with yet :( </div>';
		document.getElementById("addedGenresTable").innerHTML= 'I guess you\'re feeling blah since you haven\t yet selected any genres';
	}
}

function toggleGenre(name, id)
{
	if(containsGenre(id))
	{
		document.getElementById(id).style.backgroundColor = '#9CC';
		removeGenre(id);
	} else {
		document.getElementById(id).style.backgroundColor = '#FF0';
		addGenre(id);
	}
		
		
}

function containsGenre(id)
{
	for(var i=0; i < genres.length; i++)
	{
		if(genres[i] == id)
		{
			return true;	
		}
		
	}
	return false;
}

function watchNow()
{
	var genreString = '';
	for(var i=0; i < genres.length; i++)
	{
		genreString = genreString + genres[i] + "|";
	}
	//var newURL = "{{url_for('watch', friends="+friendString+")}}";
	var newURL = "/watchbox/"+genreString;
	
	//document.getElementById("debug").innerHTML = newURL;
	parent.location = newURL;	
	
}
</script>

<b style="font-size:36px"> I'm Feeling... </b> 
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;   &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
<button class="watch" onclick="watchNow()" > Watch Now! </button>
<!--<div id="addedGenresTable" style="height:50px">
You haven't chosen a mood yet.
</div>-->
  
<table id="genreTable" border="0" cellspacing="10" cellpadding="10"> <tbody>	<tr>
{% for genre in genres %}
	{% if (loop.index-1) % 4 == 0 %}
    	</tr><tr>
    {%endif%}
  <td><button class="genre" name="{{genre.genre_name}}" onclick="toggleGenre(this.name, this.id)" id="{{genre.genre_id}}" > {{genre.genre_name}} </button> </td>
{% endfor %}
</tr> </tbody> </table>


{% endblock %}
