<!doctype html>
<title>Tubely</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">


<head>

  <!-- JAVASCRIPT INCLUDE STATEMENTS -->
  <script type='text/javascript' src="{{ url_for('static', filename='js/modernizr-2.5.3.min.js') }}"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='jwplayer/jwplayer.js') }}"></script>
  <script type='text/javascript' src="{{ url_for('static', filename='js/util.js') }}"></script>
  

    
</head>


<body bgcolor='#000000' rightmargin="50 px" leftmargin="50px" topmargin="10px">
<div class=page>
<div style="text-align:left; margin-left:850px; font-size:12px">
 Hello Jenny &nbsp; &nbsp; <img src="{{ url_for('static', filename='img/users/jenny.jpg') }}" width="70" height="70" 
       			 align="baseline" style="vertical-align:text-bottom"/>
</div>

     <img src="{{ url_for('static', filename='img/title.png') }}" width="350" height="100" 
       			onClick="parent.location='/watchbox/stream'" align="baseline" style="vertical-align:text-bottom"/>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      
      <a href="/watchbox/stream" class="header"> My WatchBox </a>  &nbsp; &nbsp; | &nbsp; &nbsp;
      <a href="/browse" class="header"> Browse </a>  &nbsp; &nbsp; | &nbsp; &nbsp;
      <a href="/friends" class="header"> Watch with Friends</a>  &nbsp; &nbsp; | &nbsp;  &nbsp;
      <a href="/feeling" class="header"> I'm Feeling  </a> &nbsp; &nbsp;  &nbsp; &nbsp;
    
      
                <!--
     <img src="static/img/browse_btn.png" width="200" height="50" 
     			onmouseover="this.src ='static/img/browse_highlighted.png'" 	
     			onmouseout="this.src='static/img/browse_btn.png'"
                onClick="parent.location='/browse'" />
     &nbsp;
     <img src="static/img/watchbox_btn.png" width="200" height="50" 
     			onmouseover="this.src ='static/img/watchbox_highlighted.png'" 
                onmouseout="this.src='static/img/watchbox_btn.png'"
                onClick="parent.location='/watchbox'" />
     &nbsp;
     <img src="static/img/watchfriends_btn.png"  width="200" height="50" 
     			onmouseover="this.src ='static/img/watchfriends_highlighted.png'" 
                onmouseout="this.src='static/img/watchfriends_btn.png'"
                onClick="parent.location='/friends'" />
     &nbsp;
     <img src="static/img/feeling_btn.png"  width="200" height="50" 
     			onmouseover="this.src ='static/img/feeling_highlighted.png'" 
                onmouseout="this.src='static/img/feeling_btn.png'"
                onClick="parent.location='/feeling'" />-->
      <br /> <br />

  {% block body %}
  {% endblock %}
  
  <br />  <br />  <br />

<iframe src="http://www.facebook.com/plugins/like.php?href=http://localhost:8080/index.html"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>
<div style="position:absolute width: 100%; text-align: center;">  
  <a href="/about" class="header"> About </a>  &nbsp; &nbsp; | &nbsp; &nbsp;
  <a href="/contact" class="header"> Contact Us </a>  
 </div>
 <br />

    
</div>

