{% extends "header.html" %}
{% block body %}

  <br />
  
  <p style="color:#09F"> Streaming from your WatchBox... </p>
  <div id="container"></div>
  <script type="text/javascript">
    jwplayer("container").setup({
    'flashplayer': 'static/jwplayer/player.swf',
		'width': '1000',
    'height': '400',
    'playlist.position': 'right',
    'playlist.size': '320',
		'skin': 'static/jwplayer/glow.zip',
    'playlist': [{
            'file': 'static/jwplayer/video.mp4', 
            'image': 'static/jwplayer/preview.jpg',
            'title': 'The first video'
    },{ 
            'file': 'static/jwplayer/video.mp4', 
            'image': 'static/jwplayer/preview.jpg',
            'title': 'The second video'
    },{
            'file': 'static/jwplayer/video.mp4', 
            'image': 'static/jwplayer/preview.jpg',
            'title': 'The first video'
    }],
    repeat: 'list'
    });
</script>

<br /> <br />



  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="static/js/plugins.js"></script>
  <script src="static/js/script.js"></script>
  <!-- end scripts -->

{% endblock %}
