{% extends "header.html" %}
{% block body %}

  <br />
  
  <p style="color:#09F"> Streaming from your WatchBox... </p>
  <div id="container"></div>
  <script type='text/javascript' src="{{ url_for('static', filename='jwplayer/jwplayer.js') }}"></script>
  <script type="text/javascript">
    var Shows = ({{ jsShows|safe }});
    var Playlist = new Array();
    for (var i = 0; i < Shows.length; i++) {
     Entry = {};
     Entry.file = Shows[i].show_video;
     Entry.image = "../"+ Shows[i].show_pic;
     Entry.title = Shows[i].show_name;
     Playlist.push(Entry);
    }
    jwplayer("container").setup({
    'flashplayer': 'static/jwplayer/player.swf',
		'width': '1000',
    'height': '400',
    'playlist.position': 'right',
    'playlist.size': '320',
		'skin': 'static/jwplayer/glow.zip',
    'playlist': Playlist,
    repeat: 'list'
    });
</script>

<br /> <br />

<iframe src="http://www.facebook.com/plugins/like.php?href=http://localhost:8080/index.html"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="static/js/plugins.js"></script>
  <script src="static/js/script.js"></script>
  <!-- end scripts -->

{% endblock %}
