{% extends "header.html" %}
  {% block body %}
  
  <script type='text/javascript' >
function addVideoToPlaylist(showpic, showvideo, showname, showdescription)
{
	
	var playlist = jwplayer().getPlaylist();
	var newItem = {
            file: "../"+showvideo,
            image: showpic,
            title: showname,
            description: showdescription
    };
	playlist.push(newItem);
	jwplayer().load(playlist);
}

</script>

  <!--<script type ='text/javascript' src='static/js/friendtable.js'></script>-->
  
  <div id="addedGenresTable" style="height:50px">
  <table id="watchbox" border="0" cellspacing="100" cellpadding="100" class="watchbox"> <tbody>	<tr>
{% for genre in moods %}
<td><button class="addedgenre" name="{{genre.genre_name}}" onclick="removeGenre(this.name)">{{genre.genre_name}}</button></td>
{% endfor %}
</tr> </tbody> </table>

</div>

  
  <div id="container"></div>

  <script type='text/javascript' src="{{ url_for('static', filename='jwplayer/jwplayer.js') }}"></script>
  <script type="text/javascript">
    var Shows = ({{ playlist|safe }});
    var Playlist = new Array();
    for (var i = 0; i < Shows.length; i++) {
     Entry = {};
     Entry.file = Shows[i].show_video;
     Entry.image = "../"+ Shows[i].show_pic;
     Entry.title = Shows[i].show_name;
     Entry.description = Shows[i].show_description;
     Playlist.push(Entry);
    }
    jwplayer("container").setup({
    'flashplayer': "{{ url_for('static', filename='jwplayer/player.swf') }}",
		'width': '1000',
    'height': '400',
    'playlist.position': 'right',
    'playlist.size': '320',
		'skin': "{{ url_for('static', filename='jwplayer/glow.zip') }}",
    'playlist': Playlist,
    repeat: 'list'
    });
</script>

<br />

<div class="watchbox"> 
<b> Your Watchbox </b>

<table id="watchbox" border="0" cellspacing="100" cellpadding="100" class="watchbox"> <tbody>	<tr>
{% for video in watchbox %}
	<td><img width="150px" height="80px" src="../{{video.show_pic}}" onclick="addVideoToPlaylist(this.src, 'http://www.youtube.com/watch?v=TV-NhfgoA7A', this.name)" id="{{video.show_video}}" name="{{video.show_name}}" description="{{video.show_description}}" /></td>
{% endfor %}
</tr> </tbody> </table>
</div>


{% endblock %}
