{% extends "header.html" %}
  {% block body %}

<script type='text/javascript' >
function addVideoToPlaylist(showpic, showvideo, showname)
{
	
	var playlist = jwplayer().getPlaylist();
	var newItem = {
            file: "../"+showvideo,
            image: showpic,
            title: showname
    };
	playlist.push(newItem);
	jwplayer().load(playlist);
}

</script>

  
<div id="friendTable"></div>
  
  <table id="friendTable" border="0" cellspacing="100" cellpadding="100"> <tbody>	<tr>
{% for friend in friends %}
  	<td><img width="50px" height="50px" src="{{friend.friend_pic}}" onclick="addFriend(this.src,this.id)" id="{{friend.user_id}}" /></td>
{% endfor %}
</tr> </tbody> </table>


</div>

  
<div id="container"></div>

  <script type="text/javascript">
    jwplayer("container").setup({
    'flashplayer': "{{ url_for('static', filename='jwplayer/player.swf') }}",
	'width': '1000',
    'height': '400',
    'playlist.position': 'right',
    'playlist.size': '320',
		'skin': "{{ url_for('static', filename='jwplayer/glow.zip') }}",
    'playlist': [{
            'file': "{{ url_for('static', filename='jwplayer/video.mp4') }}", 
            'image': "{{ url_for('static', filename='jwplayer/preview.jpg') }}",
            'title': 'The first video'
    },
	{
            'file': "{{ url_for('static', filename='jwplayer/video.mp4') }}", 
            'image': "{{ url_for('static', filename='jwplayer/preview.jpg') }}",
            'title': 'The first video'
    },{ 
            'file': "{{ url_for('static', filename='jwplayer/video.mp4') }}", 
            'image': "{{ url_for('static', filename='jwplayer/preview.jpg') }}",
            'title': 'The second video'
    },{
            'file': "{{ url_for('static', filename='jwplayer/video.mp4') }}", 
            'image': "{{ url_for('static', filename='jwplayer/preview.jpg') }}",
            'title': 'The first video'
    }],
    repeat: 'list'
    });
</script>
</div>

<br />
<br />
{% for show in shows %}
<img width="150px" height="80px" src="../{{show.show_pic}}" onclick="addVideoToPlaylist(this.src, 'http://www.youtube.com/watch?v=TV-NhfgoA7A', this.name)" id="{{show.show_video}}" name="{{show.show_name}}" />
{% endfor %}
<br />

<div class="watchbox"> 
<b> Your Watchbox </b>

<table id="watchbox" border="0" cellspacing="100" cellpadding="100" class="watchbox"> <tbody>	<tr>
{% for video in watchbox %}
	<td><img width="150px" height="80px" src="../{{video.show_pic}}" onclick="addVideoToPlaylist(this.src, 'http://www.youtube.com/watch?v=TV-NhfgoA7A', this.name)" id="{{video.show_video}}" name="{{video.show_name}}" /></td>
{% endfor %}
</tr> </tbody> </table>
</div>

<br />


{% endblock %}